.products-section__container {
  position: relative;
  z-index: 3;
}

.product-item {
  z-index: 1;

  &__container {
    border-radius: 60px;
    background: #fff;
    box-shadow: 2px 4px 8px #68FF42;
    text-align: center;
    padding: 1.5rem;
    cursor: pointer;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    transition: all 0.3s;
    position: relative;
  }

  &__description {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    border-radius: 60px;
    opacity: 0;
    transition: all 0.3s;
  }
  
  &:hover .product-item__container {
    box-shadow: 2px 2px 2px #68FF42;
    transform: rotateY(180deg);
  }

  &:hover .product-item__description {
    opacity: 1;
  }

  &__title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  &__image {
    max-width: 100%;
  }
}